[[metric]]
request = "list server show SBLSRVR_NAME, SBLSRVR_STATE, START_TIME, END_TIME"
context = "list_server"
labels = [ "SBLSRVR_NAME" ]
[metric.metricsdesc]
SBLSRVR_STATE = "State of the Siebel Application Server."
START_TIME = "Time the server was started."
END_TIME = "Time the server was stopped."
[metric.valuemap.SBLSRVR_STATE] # https://docs.oracle.com/cd/E74890_01/books/SysDiag/SysDiagSysMonitor2.html#wp1034139
"Starting Up" = "1"
"Running" = "2"
"Shutting Down" = "3"
"Shutdown" = "4"
"Not Online" = "5"
"Partially Offline" = "6"
"Not available" = "7"
"Connect Failed" = "8"
"Handshake Failed" = "9"
"Login Failed" = "10"
"Disconnected" = "11"


[[metric]]
request = "list component groups show SV_NAME, CG_NAME, CA_RUN_STATE, CG_NUM_COMPONENTS"
context = "list_compgroup"
labels = [ "SV_NAME", "CG_NAME" ]
[metric.metricsdesc]
CA_RUN_STATE = "State of the Component Group."
CG_NUM_COMPONENTS = "Number of components in the Component Group."
[metric.valuemap.CA_RUN_STATE] # https://docs.oracle.com/cd/E74890_01/books/SysDiag/SysDiagSysMonitor3.html#wp1047134
"Online" = "1"
"Running" = "2"
"Shutdown" = "3"
"Part shutdown" = "4"
"Offline" = "5"
"Part offline" = "6"
"Starting up" = "7"


[[metric]]
request = "list comp show SV_NAME, CC_ALIAS, CP_DISP_RUN_STATE, CP_NUM_RUN_TASKS, CP_MAX_TASKS, CP_ACTV_MTS_PROCS, CP_MAX_MTS_PROCS, CP_START_TIME, CP_END_TIME"
context = "list_comp"
labels = [ "SV_NAME", "CC_ALIAS" ]
[metric.metricsdesc]
CP_DISP_RUN_STATE = "The current state of the component."
CP_NUM_RUN_TASKS = "The current number of running tasks for the component."
CP_MAX_TASKS = "The maximum number of running tasks for the component."
CP_ACTV_MTS_PROCS = "The current number of running multi-threaded shell (MTS) processes for the component."
CP_MAX_MTS_PROCS = "The maximum number of running multi-threaded shell (MTS) processes for the component."
CP_START_TIME = "The time when component started."
CP_END_TIME = "The time when component ended."
[metric.valuemap.CP_DISP_RUN_STATE] # https://docs.oracle.com/cd/E74890_01/books/SysDiag/SysDiagSysMonitor4.html#wp1036510
"Starting Up" = "1"
"Online" = "2"
"Running" = "3"
"Offline" = "4"
"Shutting Down" = "5"
"Shutdown" = "6"
"Unavailable" = "7"


[[metric]]
request = "list statistics show SBLSRVR_NAME, STAT_NAME, SD_DESC, CURR_VAL"
context = "list_statistics_server"
labels = [ "SBLSRVR_NAME", "STAT_NAME", "SD_DESC" ]
[metric.metricsdesc]
CURR_VAL = "Statistic value"
